body{
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.my_btn{
    background-color: #2d3e50;
    color: #ccced1;
    padding: 3% 20%;
    text-align: center;
}
.btn{
    border-radius: 0 !important;
}
ul{list-style: none;}
/* Start Upper-bar */
.upper-bar{
    color: #ccced1;
    background-color: #2d3e50;
    padding: 10px 0;
    font-size: 20px;
}
.upper-bar .icone a,
.upper-bar a{
  color: #ccced1;
  text-decoration: none;}
  .upper-bar .icone a{
  margin-right: 12px;
}
.upper-bar a.active{
    color: red;
    border-left:1px solid #ccced1 ;
}
.upper-bar .contact{
    font-size: 13px;
}
.upper-bar.contact i:first-of-type{
    border-left: 1px solid #ccced1;
    padding-left:10px ;
}

@media screen and (max-width: 425px){
    .upper-bar{
        font-size: 0.6rem;
    }
    .upper-bar .contact{
        font-size: 11px;
    }
}
/* End Upper-bar */
/* Start navbar section */
.navbar-brand{width: 130px;}

.navbar{
    /* font-size: 18; */
    padding: 0;
}
.navbar img{width: 100%;}
.navbar ul{
    list-style: none;
}
.navbar ul li{   
    margin-right: 5px;
    font-weight: bold; 
    border-right: 1px solid #eee;
    font-size: 0.9rem;
}
.navbar ul li:first-of-type{
    border-right: none;
}
nav ul li a.active,nav ul li a:hover{
    color: #e42127 !important;
    position: relative;
}
nav ul li a.active::after,
nav ul li a:hover::after{
    width: 95%;
    height: 3px;
    background-color: #e42127;
    /* display: block; */
    content: '';
    position: absolute;
    top: 126%;
    right: 0;
}

.account a{
    text-decoration: none;
    color: #ccced1;
}
.account a:first-of-type{text-decoration: underline;}
.account a:last-of-type{
    background-color: #2d3e50;
    padding: 5px 30px;
    border-radius: 5px;   
}
/* End navbar section */
/* Start caursol section */
.carousel-item .i1{
    position: relative;
}

.carousel-item .imag .info {
    position: absolute;
    top: 30%;
    left: 60%;
    width: 30%;
    text-align: right;
}
.carousel-item .imag .info h2{
    color: #e42127;
}
.carousel-item .imag .info p{
    color: #2d3e50;
    line-height: 2.1;
font-size: 20px;
}
.carousel-item .imag .info button{
   
    padding: 10px 60px !important;
    border: 2px solid #fff;
}
.carousel-item .imag .info button a{color: #ddd;}
.carousel-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #2d3e50;
}
.carousel-indicators li.active{
    border: 1px solid #e42127;
}
/* End caursol section */
/* Start about section */
.about{
   background-image: url('../imgs/about.png');
  background-size: cover;
 padding: 50px 0;
}
.about .info p{
    font-size: 20px;
    line-height: 1.8;
    word-spacing: 5px;
    padding: 10px 10px;
}
.about .info p span{
    color: #e42127;
}
/* End about section */
/* Start articls section */
.articls .article-title h3,
.donation-req-title h3 {
    color: #e42127;
    margin-right: 9%;
    margin-bottom: -10px;
    position: relative;
}
.articls .article-title h3::after,
.donation-req-title h3::after{
    content: '';
    position: absolute;
    height: 2px;
    background-color: #e42127;
}
.articls .article-title h3::after{  
    top: 48px;
    right: 0; 
    width: 90px;
}
.donation-req-title h3::after{ 
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 135px;
}
.card {
    text-align: center;
    margin: 20px 0;
    position: relative;
    padding: 2px;
}
.card i{
    position: absolute;
    top: 2px;
    left: 2px;
   color: #ccced1;
    background-color: #2d3e50;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
  justify-content: center;
  align-items: center;
    padding: 20px;

}
.card .card-title{
    color: #e42127;
}
.card .card-title,.card-text{
    text-align: right;
}

.card p{
    color: #ccced1;
    margin-bottom: 30px;
}
.owl-carousel .owl-nav button.owl-next{
    font-size: 65px;
    position: absolute;
    top: -93px;
    left: -6px;
    color: #babbbd;
}
 .owl-carousel .owl-nav button.owl-prev{
     font-size: 65px;
     position: absolute;
     top: -93px;
     left: 35px;
     color: #babbbd;
 }
 .owl-carousel .owl-nav button.owl-next:hover,
  .owl-carousel .owl-nav button.owl-prev:hover{
      background: none;
      color: initial;
      color: #888;
  }
  .owl-carousel .owl-nav button.owl-next:focus
   .owl-carousel .owl-nav button.owl-prev:focus{
       border: none;
   } 
  .owl-carousel{
      position: relative;
  }

  
/* End articls section */
/* Start donation requests */
.donation-req{
    background-color: #f5f5f5; 
    padding: 20px 10px;   
}
 /* Reset Select */
 select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #fff;
    color: #333;
    background-image: none;
  
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 19em;
    height: 3em;
    line-height: 3;
    background: rgb(22, 20, 20);
    overflow: hidden;
    border-radius: 50px;
    z-index: 10;
    margin: 20px 0;
  }
  select {
    flex: 1;
    padding: 0 .5em;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
   left: 0;
    padding: 0 1em;
    background: #fff;
    color: #333;
    cursor: pointer;
    pointer-events: none;
    border-right: 1px solid #ddd;
  }  
.icon{
    font-size: 25px;
    margin: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 50%;
}
.search{
    width: 80%;
    margin: auto;
}
@media screen and (max-width:767px){
    .select{width: 14em;}
}
.don-req{
    background-color: #fff;
    margin: auto;
    border-radius: 0 100px 100px 0;
    padding: 5px;
    margin-bottom: 20px;
   width: 80%;
}
.don-req .my_btn{
    padding: 8% 25% ;
    background-color: #f5f5f5;
    color: #1a1f25;
    font-weight: bold;
}
.don-req .my_btn.active{
    color: #f5f5f5;
    background-color: #2d3e50;
}

.don-req  .blod-type{
    background-color: #f5f5f5;
  width: 130px;
  height: 130px;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  font-size: 50px;
  font-weight: bolder;
  display:flex;
  justify-content: center;
  align-items: center;
}
 @media screen and (max-width:768px){
 .don-req .blod-type{margin: auto;}.don-req{border-radius: 20px;}.select{width: 14em;}}
/* Start call section */
.call-us{
background-image:url('../imgs/call.jpg');
background-size: cover;
background-repeat: no-repeat;
/* padding: 50px 0; */
}
.call-us .subhead{
    color: #e42127;
}
.call-us h4::after {
    content: "";
    position: absolute;
    width: 5rem;
    height: 2px;
    left: 50%;
    bottom: 80%;
    background: #e42127;
    transform:translateX(-50%) ;
}
.call-number{
    background: #3ab54a;
    color: #fff;
    border-radius: 0 3.75rem 3.75rem 0;
    padding: 1.3rem 1rem 1.3rem 2.5rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
}
.number{
    width: 16.75rem;
    position: relative;
}
.number a{
    position: absolute;
    top: 0;
    right: 0;
}
.number img{
    position: absolute;
    top: 5%;
    right: 82%;
    max-width: 100%;
    max-height: 100%;
}
.call-us p{font-size: 1.2rem;margin-top: 20px;}

/* End call esction */
/* Start app section */
.app{
    background-image: url('../imgs/BG-phone.png');
    text-align: right;
  padding: 40px 70px;
}
.app h4{
    font-weight: 600;
}
.app p{
    line-height: 2.1;
    font-size: 20px;
    margin: 20px 0;
}
.app .app-info{
    text-align: center;
}
.app .app-info .app-img{
    /* width: 70%; */
  margin:20px auto;
}

/* End app section */
/* Start footer section */
.foot-section{
    background-color: #1a1f25;
    color: #c6c7c8;
    padding-top: 50px;
}
.foot-section img{
    width: 50%;
}
.foot-section p{
    width: 80%;
    line-height: 1.8;
}
.img-foot{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.img-foot h6{
    color: #e42127;
}
.img-foot img{
    width: 80%;
    margin: 10px 0;
}
.foot-section ul{
    /* margin-top: 20px; */
    list-style: none;
}
.foot-section ul li a{color: #c6c7c8;}
.foot-section ul li:first-of-type a{
    color: #e42127;
}
.foot-section ul li{
    margin-top: 15px;
}
.footer{
    background-color: #14171c;
    padding: 10px 0;
    color: #888;
}
.footer ul{
    margin: 0;
}
 .icone{
    list-style: none;
    text-align: center;
    /* padding-left: 0; */
}
.footer ul li{
    display: inline-block;
}
.footer ul li a{
    color: #f5f5f5;
    margin-right: 20px;
    font-size: 25px;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.footer .col-sm-4:last-of-type{
    display: flex;
    align-items: center;
}
.footer p{
   
    margin-top: 0;
    margin-bottom: 0;
}
.footer p .b{
    color: #e42127;
}
.footer .c{
   font-size: 25px;
   margin: 0 5px;
}
/* End footer section */
/* ****************************Start registrtion page******************* */
.register-page .content{
    background-color: #fff;
    text-align: center;
    padding: 50px 0;
    margin: 20px 0 40px;
}
 .register-page .content .imag img{
      width: 25%;
  }  
 .content .attention{
      width: 80%;
      margin: 20px auto;
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      color: #747474;
  }
  .attention p:last-of-type i{
       font-size: 28px;
       padding: 4px;
       color: #fea801;
       margin-left: 5px;
  }
  .last-btn{
      width: 80%;
      margin: 60px auto 0;
      display: flex;
      justify-content: space-around;
      font-size: 25px;
  }
  .last-btn button a{color: #ddd;text-decoration: none;}
  .last-btn button:first-of-type{
      background-color: #3ab54a;
  }
  .last-btn button{
      width: 47%;
      padding: 12px 0;
      border: 3px solid #f5f5f5;
  }
  .last-btn button:last-of-type{
      background-color: #2d3e50;
  }
/* ****************************End  registrtion page******************* */
/* ****************************Start donation requess page******************* */
.donation-req{
    position: relative;
 }
 .articls .article-title h3,
  .donation-req-title h3{margin-bottom: 0;margin-top: 10px;margin-right: 0;}
/* .donation-req-page .donation-req-title h3{
position: absolute;
margin: auto;
top: -10px;
left: 47%;
} */
.donation-req-page .don-req{width: 100%;}
.donation-req-page .donation-req-title h3::after{
    top: 38px;
}
.donation-req-page .search{
padding-bottom: 10px;
width: 100%;
margin: auto;  
}
.donations{
border: 2px solid #eee;
width: 80%;
margin: auto;
padding: 10px;
}
.donation-req hr{
width: 80%;
margin:7px auto;
}
.donations .pagination-section{
margin-top: 20px;
}
.pagination-section .page-item a{
margin-right: 8px;
font-size: 20px;
color: #000;
padding: 10px 20px;
}
.pagination-section .page-item.active a{
background-color: #000;
color: #fff;
border: none;
}
@media screen and (max-width:768px){.pagination-section .page-item a{padding: 5px 7px;}}
/* ****************************End donation requess page******************* */
/*************************** Start new-account page************************* */
 .header{
    background-color: #fff;
    margin:20px auto;
    padding: 10px;
    color: #888;
    font-weight: bold;
    border: 2px solid #eee;
  }
 .header a{
    text-decoration: none;
    color: #ddd;
    margin-left: 5px;
  }
   .new-account-page .new-account{
    background-color: #fff;
    margin:20px auto;
   text-align: center;
   border: 2px solid #eee;
  }
 .new-account-page .new-account input,
 .content input{
 margin: 10px 0;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  width: 80%;
  padding: 20px;
  color: #747474;
  font-size: 20px;
  font-weight: bold;
}
.new-account-page .date{
  background-color: #f5f5f5;
  border: 1px solid #eee;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;

}
.new-account .data input{
  border: 1px solid red;
}
  .new-account .date i{
  font-size: 35px;
  margin-left: 20px;
  margin-top: 10px;
}
  .new-account-page .new-account select{
  background-color: #f5f5f5;
  border-radius: 0;
}
  .new-account-page .new-account .select{
  margin: 20px auto;
  border-radius: 0;
  background-color: #f5f5f5;
  border: none;
  width: 80%;
height: 4em;
}
.new-account-page .new-account .select::after{
  background-color: #f5f5f5;
  border: none;
}
 .new-account-page .new-account button{
  background-color: #3ab54a;
  color: #fff;
  border: 3px solid #f5f5f5;
  width: 30%;
  margin: 20px auto;
  padding: 20px 0;
  font-size: 30px;
}
/************************* End new-account page ***************************/
/*************************** Start article-detail page****************** */
.info-section .header{
    background-color: #fff;
    margin: 20px 0;
    border: 1px solid #eee;
    padding:10px;
}
.breadcrumb{background-color: #fff; margin: 15px 0;}
.breadcrumb li.active{color: #888 !important;}
.breadcrumb-item a{color: #ddd !important;}
.header-img{
    width: 60%;
    margin:40px auto 10px;
}
.protect-title{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #2d3e50;
    color: #e9ecee;
    padding: 10px;
}
/* .article-page .articls h3{ margin-right: 20px;} */
.article-page .articls h3::after{
    width: 185px;
    top: 48px;
}
.protect-title p{
    margin: 0;
    font-size: 20px;
}
.protect-title i{
    border: 1px solid #e9ecee;
    border-radius: 50%;
    padding: 10px;
}
.protect .text{
    background-color: #fff;
    color: #888;
    padding: 20px;
    line-height: 1.8;
    margin: 20px 0 ;
}
/* End article-detail page */
/*********************Start connect-us page****************************/
.connect-cotact{margin-bottom: 30px;}
.upper-bar .account a:last-of-type{padding: 0;}
.connect{
    background-color: #fff;
    border: 2px solid #eee;
}
.image {
    margin: auto;
    width: 75%;
}
.connect hr{color: #eee;}
.connect-cotact .contact{
    background: #fff;
    border: 1px solid #ddd;
}
.connect .connect-info{
    line-height: 2.2;
    font-size: 20px;
}
.contact-input input,textarea{
    width: 97%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
}

.contact a:last-of-type{width: 90%;margin:auto;}
.connect .con {color: #e42127;font-weight: bold;margin: 20px 0;font-size: 20px;}
.connect .icone li{margin-left: 10px;}
.connect .icone li a{
    margin:0 8px;
    font-size: 30px;
   color: #fff;
}
.connect .icone li:first-child{
    background: #de4b39;
}
.connect .icone li:nth-child(2){
    background: #1bd742;
}
.connect .icone li:nth-child(3){
    background: #c535a4;
}
.connect .icone li:nth-child(4){
    background: #dd472f;
}
.connect .icone li:nth-child(5){
    background: #50abf1;
}
.connect .icone li:last-child{
    background: #3a549f;
    padding: 0 5px;
}
/* *********************End contact-us page ****************************/
/* **********************Start don-req-detail page******************* */
.table{
    background-color: #fff;
    border: 3px solid #eee;
    margin: 10px auto;
    padding: 10px;
}
.table .col-sm-3,
.table .col-sm-9{
    background-color: #f9f9f9;
    border: 1px solid #eee;
    margin-left: 15px;
    padding: 15px 10px;
}
.table .col-sm-2{
    background-color: #eee;
    border: 1px solid gainsboro;
padding: 15px 5px;

}
.table .table-text p{
    line-height: 1.9;
    font-size: 20px;
}
.table .table-text{border: 1px solid #eee; margin: 10px 0;padding: 10px;}
.table .row{
    margin: 20px 0;
    font-size: 18px; 
}
.col-sm-9 {
    max-width: 68% !important;}
@media screen and (max-width:768px){
    .table .col-sm-3, .table .col-sm-9 {
        margin-left: 0;
        margin-right: 0;
    }
    .col-sm-9 {
        max-width: 100% !important;}
    }

.table .my_btn{  padding: 2% 8%; margin: auto;}
.table .table-button{text-align: center;margin-top: 35px;}
.table .hospital-address iframe{width: 100%;}
/* **********************End don-req-detail page******************* */
/* **********************Start About us page******************* */
.about-us{
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 30px;

}
.about-us .imag{
    width: 30%;
    margin: auto;
}
.about-us .imag img{width: 100%;}
/* **********************End About us page******************* */